.cloginbox {
    background : var(--pop-bg-color);;
    text-align: left;
    width: 45%;
    height: 50%;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cloginbox img {
    width: 30%;
    height: auto;
}

.clogincont {
    color: brown;
    width: 70%;
    height: 90%;
}

.clogincont form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.clogincont input {
    padding: 1%;
    background: var(--input-color);
    border-radius: 8px;
    padding: 2%;
    height: 15%;
    width: 75%;
}


.cloginbtn {
    width: 70%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cloginbtn button {
    height: 70%;
    width: 40%;
}