:root {
  --pop-bg-color: rgb(231, 230, 230);
  --sec-bg-color: rgb(176 215 165 / 30%);
  --color1: azure;
  --color2: rgba(129, 125, 241, 0.736);
  --color3: rgb(175, 167, 134);
  --input-color: rgba(171, 180, 207, 0.588)
}

html,
body {
  background-color: rgb(231, 230, 230);
  font-family: Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
  font-size: 90%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 1%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  padding: 5px;
  background-color: rgb(47, 47, 133);
  border-radius: 5px;
  color: aliceblue;
  transition: transform 0.5s ease;
}

button:hover {
  transform: scale(1.1);
}

span {
  display: flex;
  align-items: center; 
  gap: 5px;
  justify-content: center;
  height: 100%;
  font-size: 140%;
}

.popbg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

